<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <%= link_to "Bad oben", rooms_badoben_path, class:"nav-link"%>
      <%= link_to "Bad unten", rooms_badunten_path, class:"nav-link"%>
      <%= link_to "Gaestebad", rooms_gaestebad_path, class:"nav-link"%>
      <%= link_to "Tim", rooms_tim_path, class:"nav-link"%>
      <%= link_to "Niklas", rooms_niklas_path, class:"nav-link"%>
      <%= link_to "Schlafzimmer", rooms_schlafzimmer_path, class:"nav-link"%>
      <%= link_to "Arbeitszimmer", rooms_arbeitszimmer_path, class:"nav-link"%>
      <%= link_to "Wohnzimmer", rooms_wohnzimmer_path, class:"nav-link"%>
      <%= link_to "Küche", rooms_kueche_path, class:"nav-link"%>
      <%= link_to "Treppenzimmer", rooms_treppenzimmer_path, class:"nav-link"%>
      <%= link_to "Gästezimmer", rooms_gaestezimmer_path, class:"nav-link"%>
    </ul>
  </div>
</nav>